<mat-card class="demo-panel">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Cart</span>
    <mat-icon>shopping_cart</mat-icon>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Bacpack</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Handbags</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Trolly Bags</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Sling Bags</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Others</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Contact us</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

    </button>
  </mat-toolbar>
  <div class="abcdd">
    <div>
      <img src="./assets/Images/Bag.png" width="300" height="200">
    </div>
    <div class="adjust-line-height">
      <div style="margin-left: 120px;">
        <h2>UV4357</h2>
        <h2>Cooler bag</h2>
        <h2>&#8377; 2999/-</h2>
        <div class="review-align">
          <div class="icon">
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon class="color">star</mat-icon>
            <mat-icon class="color">star</mat-icon>
          </div>
          <div>
            <u>23 reviews</u>
          </div>
        </div>
        <br>
        <div class="pagination">
          <a href="#">-</a>
          <a href="#">1</a>
          <a href="#">+</a>
        </div>
        <button mat-button>Add to cart</button>
      </div>
    </div>
  </div>
  <div class="fff">
  <div class="review-align1">
  <div>
    <h2><u><b>Description</b></u></h2>
    </div>
    <div class="info">
        <a>Additional Information</a>
    </div>
    </div>
    <div>
    <h2>Product Details</h2>
    <p>Open your door to the world of grilling with the sleek Spirit II E-210 gas grill. This two burner grill is built
      to fit small spaces, and packed with features such as the powerful GS4 grilling system, iGrill capability, and
      convenient side tables for placing serving trays. Welcome to the Weber family.Open your door to the world of grilling with the sleek Spirit II E-210 gas grill. This two burner grill is built
      to fit small spaces, and packed with features such as the powerful GS4 grilling system, iGrill capability, and
      convenient side tables for placing serving trays. Welcome to the Weber family.</p>
  </div>
  <h2>Size & Fit</h2>
  Height:32 cm<br>
  Weight: 53cm<br>
  Depth: 27cm<br>
  &nbsp; &nbsp; 
  <h2>Material & Colour</h2>
  Polyster, Purple<br>
  &nbsp; &nbsp; 
  <h2>Manufactured Year</h2>
  2027<br>
  &nbsp; &nbsp; 
  <h2>5 Years of warranty</h2>
  </div>
</mat-card>
&nbsp; &nbsp; &nbsp; &nbsp; 
<div>
  <p style="text-align: center;">Copyrights @2016.All Rights Reserved.</p>
</div>