
<!-- <mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-button (click)="onTogglesidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="home">Owner-Account</a>
    </div>
    <div fxFlex fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/owner">Owner Account</a>
            </li>
            <li>
                <a routerLink="/owner">Owner Account</a>
            </li>
        </ul>

    </div>
</mat-toolbar> -->

<!-- <md-card class = "demo-panel">
    <md-card-title>
        <md-toolbar >
            <span>Cart</span>
            <span>Backpack<span>
                <span>Handbags</span>
                <span>Trolly Bags</span>
                <span>Sling Bags</span>
                <span>Others</span>
                <span>Contact us</span>
        </md-toolbar>
    </md-card-title>
</md-card> -->
<!-- <nav class="navbar navbar-dark bg-dark">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Backpack<span></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Handbags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trolly bags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Sling bags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Others</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</nav> -->

<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
  <span>Cart</span>
  <mat-icon>shopping_cart</mat-icon>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
  <span>Bacpack</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
                <span>Handbags</span>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                </button>
                <span>Trolly Bags</span>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                </button>
                <span>Sling Bags</span>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                </button>
                <span>Others</span>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                </button>
                <span>Contact us</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    
  </button>
</mat-toolbar> -->
